* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f8f9fa;
  font-family: sans-serif;
}

.container {
  width: 40rem;
  background-color: #888;
  margin: 15rem auto;
  padding: 2.2rem;
  border-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
}

.btn,
.btn:visited {
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
  color: #333;
  border: 1px solid #333;
  background-color: #f8f9fa;
  border-radius: 4px;
}

.btn:hover {
  background-color: #e6e6e6;
}

.btn:active {
  background-color: #cccccc;
}

.display {
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
  margin-bottom: 0.8rem;
}

.output-main,
.output-secondary {
  border: none;
  text-align: right;
  font-size: 4.5rem;
  padding: 2rem 1rem 0.2rem 1rem;
  background-color: #fff;
}
.output-main {
  height: 7rem;
}

.output-secondary {
  font-size: 2rem;
  height: 4rem;
}

.btn__clear {
  grid-column: 1 / span 2;
  background-color: #41c69e;
}

.btn__clear:hover {
  background-color: #3bb28e;
}
.btn__clear:active {
  background-color: #349e7e;
}

.btn__delete {
  grid-column: span 2;
  background-color: #f03e3e;
}

.btn__delete:hover {
  background-color: #d83838;
}

.btn__delete:active {
  background-color: #c03232;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  color: #666;
}
